{% extends "ApplicationUserBundle::layout.html.twig" %}

{% block title 'user.change_password.title'|trans %}
{% block page_title 'user.change_password.page_title'|trans %}

{% block user_content %}
    <div class="span8 offset2">
        {{ form_start(form, {
        'action': path('fos_user_change_password'),
        'method': 'POST',
        'attr': {'class': 'profile'}
        }) }}
            {{ form_errors(form) }}

            {{ form_row(form.current_password, {'label': 'user.form.current_password'|trans|colon}) }}
            {{ form_row(form.plainPassword.first, {'label': 'user.form.new_password'|trans|colon}) }}
            {{ form_row(form.plainPassword.second, {'label': 'user.form.repeated'|trans|colon}) }}

            <div class="text-center">
                <input type="submit" class="btn" value="{{ 'user.change_password.submit'|trans }}" />
            </div>
        {{ form_end(form) }}

        <p class="text-center">
            <a href="{{ path('fos_user_profile_edit') }}">{{ 'user.change_password.back'|trans }}</a>
        </p>
    </div>
{% endblock user_content %}
