<div class="span6 offset3">
    {{ form_start(form) }}
        {{ form_errors(form) }}

    <fieldset>
        <legend>{{ 'user.form.fieldset.infos'|trans }}</legend>

        {{ form_row(form.username, {'label': 'user.form.username'|trans|colon}) }}
        {{ form_row(form.email, {'label': 'user.form.email'|trans|colon}) }}
        {{ form_row(form.plainPassword.first, {'label': 'user.form.password'|trans|colon}) }}
        {{ form_row(form.plainPassword.second, {'label': 'user.form.repeated'|trans|colon}) }}
    </fieldset>

    <fieldset>
        <legend>{{ 'user.form.fieldset.identity'|trans }}</legend>

        {{ form_row(form.firstname, {'label': 'user.form.firstname'|trans|colon}) }}
        {{ form_row(form.lastname, {'label': 'user.form.lastname'|trans|colon}) }}
        {{ form_row(form.birthdate, {'label': 'user.form.birthdate'|trans|colon}) }}
    </fieldset>

    <fieldset>
        <legend>{{ 'user.form.fieldset.admin'|trans }}</legend>

        {{ form_row(form.groups, {'label': 'user.form.groups'|trans|colon}) }}
        {{ form_row(form.enabled, {'label': 'user.form.enabled'|trans|colon}) }}
        {{ form_row(form.locked, {'label': 'user.form.locked'|trans|colon}) }}
    </fieldset>

        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}

    <p class="text-center">
        <a href="{{ path('application_user_admin_users') }}">{{ 'user.admin.users.create.back'|trans }}</a>
    </p>
</div>
