{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block title 'user.admin.users.list.title'|trans %}
{% block page_title 'user.admin.users.list.title'|trans %}

{% block admin_content %}

    <div class="text-center">
        <a class="btn" href="{{ path('application_user_admin_users_create') }}">{{ 'user.admin.users.create.title'|trans }}</a>
    </div>

    <table class="table sortable filterable" data-sort="1" data-perpage="50">
        <thead>
            <tr>
                <th data-filter="ignore" class="tiny">#</th>
                <th>{{ 'user.form.username'|trans }}</th>
                <th>{{ 'user.form.email'|trans }}</th>
                <th data-filter="date">{{ 'user.admin.users.list.registration_date'|trans }}</th>
                <th data-filter="date">{{ 'user.admin.users.list.last_login'|trans }}</th>
                <th data-filter="select">{{ 'user.form.groups'|trans }}</th>
                <th class="mini"></th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {% if user.firstname is not empty %}
                        <abbr title="{{ user.firstname }} {{ user.lastname|upper }}{% if user.birthdate is not empty %} - {{ "now"|date('Y') - user.birthdate|date('Y') }} {{ 'user.form.age'|trans }}{% endif %}" data-placement="right">
                            {{ user.username }}
                        </abbr>
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        {% if not user.enabled %}<span class="label">{{ 'user.admin.users.list.disabled'|trans }}</span>{% endif %}
                        {% if user.locked %}<span class="label label-inverse">{{ 'user.admin.users.list.locked'|trans }}</span>{% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registrationDate|date("d/m/Y H:i") }}</td>
                    <td>{{ user.lastLogin is empty ? "--" : user.lastLogin|date("d/m/Y H:i") }}</td>
                    <td>{{ user.groups|join(', ') }}</td>
                    <td>
                        <a href="{{ path('application_user_admin_users_edit', {'id': user.id}) }}">
                            <i class="icon-wrench"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a href="{{ path('application_user_admin_users_delete', {'id': user.id}) }}">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        <tbody class="empty">
            <tr>
                <td colspan="8">
                    <p class="text-center">{{ 'user.admin.users.list.empty'|trans }}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination pagination-centered"><ul></ul></div>

{% endblock %}
