<div class="span6 offset3">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'label': 'user.form.group.name'|trans|colon}) }}
        {{ form_row(form.roles, {'label': 'user.form.group.roles'|trans|colon}) }}
        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}

    <p class="text-center">
        <a href="{{ path('application_user_admin_groups') }}">{{ 'user.admin.groups.create.back'|trans }}</a>
    </p>
</div>
