{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block title 'user.admin.groups.delete.title'|trans %}
{% block page_title 'user.admin.groups.delete.title'|trans %}

{% block admin_content %}
    {% embed 'ApplicationSiteBundle::_deleteConfirm.html.twig' %}

        {% block warning %}
            {{ 'user.admin.groups.delete.warning'|trans }}
        {% endblock %}

        {% block info %}
            {{ 'user.admin.groups.delete.info'|trans }}
        {% endblock %}

        {% block form %}
            {{ form_row(form.newgroup, {'label': 'user.admin.groups.delete.newgroup'|trans|colon}) }}
        {% endblock %}

        {% block back %}
            <a href="{{ path('application_user_admin_groups') }}">
                {{ 'user.admin.groups.create.back'|trans }}
            </a>
        {% endblock %}

    {% endembed %}
{% endblock %}
