{% extends "ApplicationUserBundle::layout.html.twig" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <a href="{{ path('user_application_new') }}" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'application.create_new_Application'|trans({}, 'UserBundle') }}
                </a>

                <h1>Application</h1>

                <table id="Application-table" class="records_list table table-striped">
                    <thead>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-book"></span> {{ 'application.title'|trans|capitalize }}
                            </td>
                            <td class="published">
                                <span class="glyphicon glyphicon-bullhorn"></span> {{ 'application.published'|trans|capitalize }}
                            </td>
                            <td class="license">
                                <span class="glyphicon glyphicon-flag"></span> {{ 'application.license'|trans|capitalize }}
                            </td>
                            <td class="last_update">
                                <span class="glyphicon glyphicon-calendar"></span> {{ 'application.last_update'|trans|capitalize }}
                            </td>
                            <td class="actions">
                                <span class="glyphicon glyphicon-reorder"></span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>
                                    <a href="{{ path('user_application_edit', { 'id': entity.id }) }}">{{ entity.title }}</a>
                                </td>
                                <td class="published">
                                    <a href="{{ path('user_application_toggle_published', { 'id': entity.id }) }}">
                                        {% if (entity.published) %}
                                            <span class="glyphicon glyphicon-ok-circle"></span> <span class="visible-xs">{{ 'application.published'|trans|capitalize }}</span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove-circle"></span> <span class="visible-xs">{{ 'application.not_published'|trans|capitalize }}</span>
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="license">
                                    <span class="visible-xs">{{ 'application.license'|trans|capitalize }}:</span>
                                    {% if entity.ApplicationLicense %}
                                        {{ entity.ApplicationLicense.titleShort }}
                                    {% else %}
                                        {{ 'application.no_license_applied'|trans }}
                                    {% endif %}
                                </td>
                                <td class="last_update">
                                    <span class="visible-xs">{{ 'application.last_update'|trans|capitalize }}:</span>

                                    {{ entity.updatedat|date('d M Y') }}
                                    <br class="hidden-xs">
                                    {{ entity.updatedat|date('H:i:s') }}

                                </td>
                                <td class="actions">
                                    <a href="{{ path('user_application_edit', { 'id': entity.id }) }}" ><span class="glyphicon glyphicon-edit"></span></a>
                                    {% render(controller('ApplicationUserBundle:Application:_deleteForm', {'id': entity.id})) %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}