{% extends "ApplicationUserBundle::layout.html.twig" %}

{% import "ApplicationSiteBundle::macros/macrosapplication.html.twig" as macrosApplication %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1><span class="glyphicon glyphicon-star"></span> {{ 'user_navbar.application_starred'|trans({}, 'UserBundle')|title }}</h1>

                <table class="records_list table table-striped">
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>
                                    <a href="{{ path('user_application_edit', { 'id': entity.id }) }}">{{ entity.title }}</a>
                                    <br>
                                    <p class="Application-info">
                                        <span class="glyphicon glyphicon-user"></span> <a href="{{ path('userprofile_show', {'username': entity.user.username}) }}">{{ entity.user }}</a>
                                        |
                                        <span class="glyphicon glyphicon-calendar"></span> {{ 'application.last_update'|trans }}: {{ entity.updatedAt|date('d/m/Y') }}
                                        |
                                        {{ macrosapplication.toggleUserStarsApplication(entity) }}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}